/*
  	Flaticon icon font: Flaticon
  	Creation date: 24/11/2020 20:32
  	*/

@font-face {
    font-family: "Flaticon";
    src: url("./fonts/icons/fps-icon.woff2") format("woff2"),
        url("./fonts/icons/fps-icon.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

[class^="fpsIcon-"]:before,
[class*=" fpsIcon-"]:before,
[class^="fpsIcon-"]:after,
[class*=" fpsIcon-"]:after {
    font-family: Flaticon;
    font-size: inherit;
    font-style: normal;
}

.fpsIcon-facebook:before {
    content: "\f101";
}
.fpsIcon-twitter:before {
    content: "\f102";
}
.fpsIcon-linkedin:before {
    content: "\f104";
}
.fpsIcon-youtube:before {
    content: "\f105";
}
.fpsIcon-instagram:before {
    content: "\f103";
}
.fpsIcon-tripadvisor:before {
    content: "\f100";
}
