/*****
Base styles 
*****/

$base: red;

.top-bar {
    h4 {
        background-color: theme("colors.test-color");
        font-size: 32px;
    }
}

.foo {
    color: green;
    /* How use to mixins */
    @mixin section-padding 90px, 120px;
    @extend title--1;
}
