/*****
Base styles 
*****/

$base: red;

.top-bar {
    h4 {
        background-color: theme("colors.test-color");
        font-size: 32px;
    }
}

.foo {
    @extend .title--1;
    color: green;
    /* How use to mixins */
    @mixin section-padding;
}
