$primary: #d65a45;
$primary-hover: darken($primary, 50%);
$secondary: #1da0fc;
$secondary-hover: darken($secondary, 50%);

$dark-1: #070b23;
$dark-2: #41464f;
$dark-3: #6c7582;
$light-1: #eeeff6;
$light-2: #cbd1df;
$light-3: #9299b2;
$txt: $dark-3;

$titlesColor: $dark-1;

$black: #000;
$white: #fff;

$background-login: $primary;

$background-header: #f5f6fa;

/* Define Theme Fonts */
$font-family-base: "adelle", sans-serif;
$font-family-alt: "brandon-grotesque", sans-serif;

/* Define Theme Font Weights: */

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi: 600;
$font-weight-bold: 700;
$font-weight-base: $font-weight-normal;

/* Columns and gap */

$grid-columns: 12;
$grid-column-gutter: 30px;
